
/*nav styles*/
nav{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 15%;
}

nav a{
    font-weight: regular;
    font-size: 18px;
    color: #e5e7eb;
}

.logo-text{
    color: #f9faf8;
    font-size: 24px;
}

.logo-stuff{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo{
    height: 80px;
    width: 80px;;
}

/*hero styles*/

.hero-box{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 20px;
}

.hero-image{
    width: 500px;
    max-height: 345px;
    height: auto;
    min-width: 400px;
    display: flex;
    flex-grow: 1;
}

.hero-body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero-title{
    font-size: 48px;
    font-weight: extra-bold;
    color:#f9faf8
}

.hero-text{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 500px;
}

.shop-now{
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    max-width: 150px;
}

/*cards style*/
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.card-img{
    border: 5px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.card-text{
    width: 240px;
    text-align: center;
}

.cards{
    display:flex;
    gap: 50px;
    flex-wrap: wrap;
}

/*quote style*/
.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10% 25%;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-attribution{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/*call to action style*/
.cta-container{
    padding: 100px 200px;
}

.cta{
    background-color: #3882f6;
    padding: 5% 15%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-title{
    font-size: 32px;
    font-style: bold;
    color: #f9faf8;
}

.cta-text{
    font-size: 21px;
    color: #e5e7eb;
}

.cta-button{
    padding: 5px 20px;
    border: 3px solid #f9faf8;
    border-radius: 10px;
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 21px;
    font-weight: bold;
}

/*tag stuff*/
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

p{
    margin: 0;
}